{% extends "layout.html" %} {% block body %}



<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="font-weight-light">Results from the given Dataset</h1>
        
          
        <div class="result">
            <img src="{{ url_for('static', filename ='img/green.jpg') }}">
            <p class="lead">Percentage Graph</p>

        
        </div>

        <div class="parameters">
            <div class="cycles"> 
                <h3>Number of Cycles : {{ num_cycle }}</h3>
            </div>
            <div class="sowing">
                <h3> Dates of Sowing</h3>
                {% for i in range(0,ds+1) %}

                <p> {{ date_sowing[i] }} </p>

                {% endfor %}
            </div>

            <div class="harvest">
                <h3> Dates of Harvest</h3>
                {% for i in range(0,dh+1) %}

                <p> {{ date_harvest[i] }} </p>

                {% endfor %}
            </div>

        </div>


      </div>
    </div>
  </div>



{% endblock %}

